$site-width: 1300px;

$font-family: Uni Sans, Arial, sans-serif;
$font-size: 16px;

$grid-gap: 10px;

$margin: 30px;

$darkColor: #2d343e;
$textColor: $darkColor;
$lightGreyColor: #f0f2f7;
$greenColor: #a3c73d;
$darkBg: #353a49;
$lightRedColor: #e8394a;
$lightRedColor: #e8394a;
$lightRedColorHover: darken($lightRedColor, 10%);
$headerPopupBg: #1f232f;